In [1]:
import pandas as pd

from pandarallel import pandarallel

from freeholdforecast.tasks.etl_task import ETLTask

pd.options.display.width = 0

etl_task = ETLTask()

INFO: Pandarallel will run on 5 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/vscode/.local/share/virtualenvs/freehold-forecast-zrIN4e5_/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/08/29 20:40:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

2022-08-29 20:40:27,059 - ETLTask - WARNING - No DBUtils defined in the runtime
2022-08-29 20:40:27,061 - ETLTask - INFO - Reading configuration from --conf-file job option
2022-08-29 20:40:27,062 - ETLTask - INFO - No conf file was provided, setting configuration to empty dict.Please override configuration in subclass init method
2022-08-29 20:40:27,063 - ETLTask - INFO - Launching job with configuration parameters:

In [2]:
etl_task.get_df_raw()
etl_task.df_raw

2022-08-29 20:40:27,072 - ETLTask - INFO - Retrieving data for ohio-clermont
2022-08-29 20:40:27,614 - ETLTask - INFO - Successfully retrieved data for ohio-clermont

,Parid,Year of Sale,Month of Sale,Day of Sale,last_sale_date,Owner Name 1,House #,Street Name,Street Suffix,Valid Sale,Sale Price,Building Value,Land Value,Tax District,Property Class
0,012002A024.,1994,9,12,1994-09-12,SHELTON HOWARD D &,4100.0,NaN,STATE ROUTE 222,0,128000.0,155800,68700,1,R
1,012002A024.,2014,7,3,2014-07-03,PHILLIPS ERIN R,4100.0,NaN,STATE ROUTE 222,0,235000.0,155800,68700,1,R
2,012002A025.,2004,9,17,2004-09-17,HUMBERT EDWARD W & CAROL A,4104.0,DR,OLD SOUTH RIVERSIDE,8,100000.0,101300,83400,1,R
3,012002A025.,2011,12,6,2011-12-06,HUMBERT EDWARD A &,4104.0,DR,OLD SOUTH RIVERSIDE,8,188000.0,101300,83400,1,R
4,012002A027.,1991,11,25,1991-11-25,NaN,NaN,DR,OLD SOUTH RIVERSIDE,8,36300.0,7300,11200,1,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184166,539006.069.,2021,4,28,2021-04-28,ROWLAND VICKI M & JEFF,698.0,ST,SMITH,0,105000.0,116400,13100,53,R
184167,539006.070.,2017,8,1,2017-08-01,KENNETH A & SHARON A CHAMBERS,NaN,ST,SMITH,1,250000.0,0,6600,53,R
184168,539006.071.,2017,8,1,2017-08-01,KENNETH A & SHARON A CHAMBERS,658.0,ST,SMITH,1,250000.0,225000,18600,53,R
184169,550229.005.,1986,3,1,1986-03-01,NaN,NaN,LN,CURLISS,8,128000.0,0,1471300,55,A
184170,550229.005.,2007,6,25,2007-06-25,HOFFMAN RICHARD,NaN,LN,CURLISS,8,793000.0,0,1471300,55,A

In [3]:
etl_task.get_df_ready()
etl_task.df_ready

2022-08-29 20:40:27,651 - ETLTask - INFO - Formatting data for ohio-clermont
2022-08-29 20:40:30,948 - ETLTask - INFO - Successfully formatted data for ohio-clermont

,will_sell_next_two_years,year,dates_since_last_sale,Parid,Year of Sale,Month of Sale,Day of Sale,Owner Name 1,House #,Street Name,Street Suffix,Valid Sale,Sale Price,Building Value,Land Value,Tax District,Property Class
0,0,1994-01-01,0,012002A024.,1994,9,12,SHELTON HOWARD D &,4100.0,NaN,STATE ROUTE 222,0,128000.0,155800,68700,1,R
1,0,1995-01-01,1,012002A024.,1994,9,12,SHELTON HOWARD D &,4100.0,NaN,STATE ROUTE 222,0,128000.0,155800,68700,1,R
2,0,1996-01-01,2,012002A024.,1994,9,12,SHELTON HOWARD D &,4100.0,NaN,STATE ROUTE 222,0,128000.0,155800,68700,1,R
3,0,1997-01-01,3,012002A024.,1994,9,12,SHELTON HOWARD D &,4100.0,NaN,STATE ROUTE 222,0,128000.0,155800,68700,1,R
4,0,1998-01-01,4,012002A024.,1994,9,12,SHELTON HOWARD D &,4100.0,NaN,STATE ROUTE 222,0,128000.0,155800,68700,1,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796702,0,2017-01-01,10,550229.005.,2007,6,25,HOFFMAN RICHARD,NaN,LN,CURLISS,8,793000.0,0,1471300,55,A
1796703,0,2018-01-01,11,550229.005.,2007,6,25,HOFFMAN RICHARD,NaN,LN,CURLISS,8,793000.0,0,1471300,55,A
1796704,0,2019-01-01,12,550229.005.,2007,6,25,HOFFMAN RICHARD,NaN,LN,CURLISS,8,793000.0,0,1471300,55,A
1796705,0,2020-01-01,13,550229.005.,2007,6,25,HOFFMAN RICHARD,NaN,LN,CURLISS,8,793000.0,0,1471300,55,A
1796706,0,2021-01-01,14,550229.005.,2007,6,25,HOFFMAN RICHARD,NaN,LN,CURLISS,8,793000.0,0,1471300,55,A

In [4]:
import numpy as np

df_curated = etl_task.df_raw[
    [
        "Parid",
        "last_sale_date",
        "Owner Name 1",
        "House #",
        "Street Name",
        "Street Suffix",
        "Sale Price",
        "Building Value",
        "Land Value",
    ]
]

for c in ["Street Name", "Street Suffix"]:
    df_curated[c] = df_curated[c].str.title()

for c in ["House #", "Sale Price"]:
    df_curated[c] = df_curated[c].fillna(0).astype(np.int64)

df_curated["Address"] = df_curated[["House #", "Street Suffix", "Street Name"]].apply(
    lambda x: " ".join([x for x in x.dropna().astype(str) if x != "0"]), axis=1
)

df_curated = df_curated.rename(
    columns={
        "Parid": "Parcel ID",
        "last_sale_date": "Sale Date",
        "Owner Name 1": "Owner",
    }
)[["Parcel ID", "Address", "Owner", "Sale Date", "Sale Price", "Building Value", "Land Value"]]

df_curated

/tmp/ipykernel_1037/1091759792.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_curated[c] = df_curated[c].str.title()
/tmp/ipykernel_1037/1091759792.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_curated[c] = df_curated[c].fillna(0).astype(np.int64)
/tmp/ipykernel_1037/1091759792.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_curated["Address"] = df_curated[["House #", "Street Suffix", "Street Name"]].apply(

,Parcel ID,Address,Owner,Sale Date,Sale Price,Building Value,Land Value
0,012002A024.,4100 State Route 222,SHELTON HOWARD D &,1994-09-12,128000,155800,68700
1,012002A024.,4100 State Route 222,PHILLIPS ERIN R,2014-07-03,235000,155800,68700
2,012002A025.,4104 Old South Riverside Dr,HUMBERT EDWARD W & CAROL A,2004-09-17,100000,101300,83400
3,012002A025.,4104 Old South Riverside Dr,HUMBERT EDWARD A &,2011-12-06,188000,101300,83400
4,012002A027.,Old South Riverside Dr,NaN,1991-11-25,36300,7300,11200
...,...,...,...,...,...,...,...
184166,539006.069.,698 Smith St,ROWLAND VICKI M & JEFF,2021-04-28,105000,116400,13100
184167,539006.070.,Smith St,KENNETH A & SHARON A CHAMBERS,2017-08-01,250000,0,6600
184168,539006.071.,658 Smith St,KENNETH A & SHARON A CHAMBERS,2017-08-01,250000,225000,18600
184169,550229.005.,Curliss Ln,NaN,1986-03-01,128000,0,1471300
184170,550229.005.,Curliss Ln,HOFFMAN RICHARD,2007-06-25,793000,0,1471300

In [2]:
import os
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient, __version__

# Retrieve the connection string for use with the application. The storage
# connection string is stored in an environment variable on the machine
# running the application called AZURE_STORAGE_CONNECTION_STRING. If the environment variable is
# created after the application is launched in a console or with Visual Studio,
# the shell or application needs to be closed and reloaded to take the
# environment variable into account.
connect_str = os.getenv("AZURE_STORAGE_CONNECTION_STRING")

# Create the BlobServiceClient object which will be used to create a container client
blob_service_client = BlobServiceClient.from_connection_string(connect_str)

# # Create a local directory to hold blob data
# local_path = "./data"
# os.mkdir(local_path)

# # Create a file in the local data directory to upload and download
# local_file_name = str(uuid.uuid4()) + ".txt"
# upload_file_path = os.path.join(local_path, local_file_name)

upload_file_path = "data/info/counties-copy.csv"

# # Write text to the file
# file = open(upload_file_path, 'w')
# file.write("Hello, World!")
# file.close()

# Create a blob client using the local file name as the name for the blob
# blob_client = blob_service_client.get_blob_client(container=container_name, blob=local_file_name)
blob_client = blob_service_client.get_blob_client(container=container_name, blob=upload_file_path)

# print("\nUploading to Azure Storage as blob:\n\t" + local_file_name)

# Upload the created file
with open(upload_file_path, "rb") as data:
    blob_client.upload_blob(data)

ValueError: Connection string missing required connection details.